<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">

<bean id="manager" class="com.factory.FactoryBean.EmployeeFactory">
<property name="designation" value="Manager"></property>
</bean>

<bean id="director" class="com.factory.FactoryBean.EmployeeFactory">
<property name="designation" value="Director"></property>
</bean>

   </beans>